<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            width:100%;
            height:100%;
            background: url("../static/images/bg1.jpg");
            background-size: cover;
        }
    </style>

    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <p style="font-size: 40px" align="center">欢迎来到</p>
    <p style="font-size: 40px" align="center">智能客服回复系统</p>
    <p align="center"><a href="/showPage" style="font-size: 30px;">点击进入</a></p>
</body>
</html>